@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&family=Noto+Serif+Display:wght@500&display=swap");

$main-background-color: #171717;
$content-background-color: #777;
$text-color--light: #f3f3f3;
$text-color--grey: #8b8b8b;
$text-color--dark: #222222;

/* Polices Textes*/
$text-font: "Noto Sans", sans-serif;

$title: 24px;
$subtitle: 17px;

$description: 14px;
